<!doctype html>
<html>
<head>
    <title>Workiy-SOW-Summarize</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="sow-header">
    <div class="sow-header1">
      <img class="workiy-logo-white-1-icon" alt="" src="../static/images/workiy-logo-white-1@2x.png"/>
    </div>
    <div class="sow-header2">
      <h2 class="head-txt">Upload - SOW Details</h2>
    </div>
  </div>
  <div class="sow-main-block container" >
  <div class="profile-upload">
  <img class="image-2-icon" alt="" src="../static/images/image-2@2x.png" />
  <p class="upload-text">Upload Your file</p>
</div> 
  <form method="POST" action="/upload" enctype="multipart/form-data" class="sow-form">
    <div class="file-upload-parent">
    <input type="file" name="file">
    </div>
    <input type="submit" value="Upload" class="upload-btn">
  </form>
</div>
  <!--{% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}-->
  <div class="sow-footer">
    <div class="no-file-choosen">&#169; <a href="https://www.workiy.com/" target="blank">Workiy inc</a></div>
  </div>
</body>
</html>
